<div class="container px-5 px-sm-0">
 <div class="row" >
  <div class="col-md-3">
  <!--部分テンプレ-->
   <%= render 'layouts/info', user: @user %>
   <%= render 'layouts/new', new: @new %>
  </div>

  <div class="col-md-8 offset-md-1" >
    <h2>Book detail</h2>
    <table class="table" >
     <tbody>
      <tr>
      <!--トプ画とユーザーネーム-->
      <!--トプ画とユーザーネームからマイページへリンク-->
       <td>
        <%= link_to user_path(@book.user_id) do %>
         <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
        <% end %><br/>
        <%= link_to @book.user.name, user_path(@book.user_id) %>
       </td>

      <!--本のタイトル-->
      <!--タイトルから投稿詳細へリンク-->
       <td>
        <%= link_to @book.title, book_path(@book) %>
       </td>

      <!--本文-->
       <td>
        <%= @book.body %>
       </td>

      <!--いいね-->
       <td>
       <div id="favorites_buttons_<%= @book.id %>">
        <%= render 'favorites/favorite', book: @book %>
       </div>
       </td>

      <!--コメント数-->
       <td>
        <p>コメント数:<%= @book.book_comments.count %></p>
       </td>

      <!--投稿編集・削除リンク-->
      <% if @book.user == current_user %>
       <td>
        <%= link_to "Edit", edit_book_path(@book), class:'btn btn-success text-light', type:'button' %>
       </td>
       <td>
        <%= link_to "Destroy", book_path(@book), method: :delete, class:'btn btn-danger text-light', type:'button', "data-confirm" => "本当に削除しますか？" %>
       </td>
      <% end %>
      </tr>
     </tbody>
    </table>
   <!--コメント一覧-->
    <div id="book_comment">
     <%= render partial: 'book_comments/book_comment', locals: {book: @book} %>
    </div>
   <!--コメントフォーム-->
    <div class="new-comment">
     <%= render partial: 'book_comments/new_comment', locals: {book: @book, book_comment: @book_comment} %>
      </div>
     </div>
   </div>
  </div>
