<h2>User info</h2>
 <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<table class="table" >
 <tbody>
  <tr>
   <th>name</th>
   <td><%= user.name %></td>
  </tr>
  <tr>
   <th>introduction</th>
   <td><%= user.introduction %></td>
  </tr>
 </tbody>
</table>

<!--プロフィール編集へのリンク-->
 <% if user == current_user %>
 <%= link_to edit_user_path(user) do %>
  <button type="button" class="btn btn-outline-secondary btn-block btn-sm">
   <i class="fas fa-user-cog"></i>
  </button>
 <% end %>

 <% else %>
 <%= link_to users_path(current_user.id) do %>
  <button type="button" class="btn btn-outline-secondary btn-block btn-sm">
   <i class="fas fa-user-cog"></i>
  </button>
 <% end %>

 <% end %>
